extends layout

block content
	-data = data || {}
	-operations = operations || {}

	table.container-table
		tr
			td.calculator-td
				if errors
					ul
						for error in errors
							li.error= error.msg

				form(action="." method="POST")
					table
						tr
							td
								label(for="a") a:
							td
								input(
									type="number"
									id="a"
									name="a"
									value=data.a
								)
						tr
							td
								label(for="b") b:
							td
								input(
									type="number"
									id="b"
									name="b"
									value=data.b
								)
						tr
							td(colspan=2 class="opr-btns")
								input(type="submit" value="+" class="btn")
								input(type="submit" value="-" class="btn")
								input(type="hidden" name="operator" id="operator")

				h3= result

			td.history-td
				div 
					strong History (from mongo database)
				div.history-container 
					if operations.length
						table.history-table
							each operation in operations
								tr
									td.datetime-td !{moment(operation.created_at).format('MMMM Do YYYY, h:mm:ss a')}
									td #{operation.a} #{operation.operator} #{operation.b} = #{operation.result}
					else
						| No history yet